<html>
    <head>
        <title>DevOps Task</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="flex">
            <nav>
                <div class="flex-start">
                    <img src="./assets/logo.png" alt="Sg Logo">
                </div>
                <div class="flex-end">
                    <li>Home</li>
                    <li>Whoami</li>
                    <li>Contact</li>
                </div>
            </nav>
        </div>
        <div class="body">
            <h1>
                Shree Gowtham
            </h1>
            <p>Just an another Techie</p>
        </div>
    </body>
</html>